.react-tabs__tab-list {
    border-bottom: 1px solid #aaa;
    margin: 0 0 2vh;
    padding: 0;
    display: flex;
    height: 8vh;
}

.react-tabs__tab {
    flex-grow: 1;
    text-align: center;
    display: inline-block;
    color: white;
    border: 1px solid #5F819A;
    border-top-width: 2px;
    border-bottom-width: 2px;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7191AA;
}

.react-tabs__tab--selected {
    background: #83A8C3;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
}

.react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
}

.react-tabs__tab:focus {
    box-shadow: 0 0 5px hsl(208, 99%, 50%);
    border-color: hsl(208, 99%, 50%);
    outline: none;
}

.react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
}

.react-tabs__tab-panel {
    display: none;
    height: 90vh;
}

.react-tabs__tab-panel--selected {
    display: flex;
    flex-direction: column;
}

.slice {
    border-bottom: 2px solid #5F819A;
    padding: 10px;
    flex-grow: 1;
}